
html, body {
    width: 100%;
    height:100%;
  }
  
  body {
      background: linear-gradient(-80deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      top: 0;
     left: 0;
      margin: 0;
         padding: 20px;
      animation: gradient 15s ease infinite;
      font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: white;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

  button .correct{
    background-color: greenyellow;
  }

  button .wrong{
    background-color: red;
  }
  